<div class="card-content">
  <header class="card-header">
    <%= image_tag comment.user.avatar.variant(resize: "50X50!") if comment.user.avatar.attached? %>
    <p class="card-header-title">
      <%= comment.user.username %>
    </p>
  </header>
  <div class="card-content">
    <div class="content">  
      <%= simple_format(comment.content) %>
    </div>
  </div>
  <footer class="card-footer">
    <%= link_to "#", id: "", class: "has-text-danger", data: { post:comment.post_id, slug: comment.id }, "@click": "addComLike" do %>
      <% if user_signed_in? && current_user.comlike?(comment) %>
        <i class="fas fa-heart like<%= comment.id%>" ></i>
      <% else %>
        <i class="far fa-heart like<%= comment.id%>" ></i>
      <% end %>
      <span class="recomlikes like<%= comment.id%> has-text-dark">
        <%= Commentlike.where( :comliked => comment).count %>
      </span>
    <% end %>
  </footer>
</div>