<section class="container">
  <div class="columns">
    <div class="column is-3">
      <h3>註冊</h3>
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= render "devise/shared/error_messages", resource: resource %>

        <div class="field">
          <% f.label :email, class: 'label' %><br />
          <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'input', placeholder:"Email" %>
        </div>

        <div class="field">
          <% f.label :username, class: 'label' %><br />
          <%= f.text_field :username, class: 'input', placeholder:"Username" %>
        </div>

        <div class="field">
          <% f.label :password, class: 'label'%>
          <% if @minimum_password_length %>
          <em>( 密碼最少 <%= @minimum_password_length %> 個字)</em>
          <% end %><br />
          <%= f.password_field :password, autocomplete: "new-password", class: 'input', placeholder:"Password" %>
        </div>

        <div class="field">
          <% f.label :password_confirmation, class: 'label' %><br />
          <%= f.password_field :password_confirmation, autocomplete: "new-password", class: 'input', placeholder:"Password Confirmation" %>
        </div>

        <div class="field">
          <% f.label :intro %><br />
          <%= f.text_area :intro, class: 'textarea is-medium', placeholder: "Intro", rows: 5 %>
        </div>

        <div class="actions">
          <%= f.submit "註冊", class: 'button is-primary is-medium' %>
        </div>
      <% end %>

      <%= render "devise/shared/links" %>
    </div>
  </div>
</section>