<section class="container">
  <div class="columns">
    <div class="column is-2">
      <%= render 'shared/leftmenu' %>
    </div>
    <div class="column is-8">
      <div class="card">
        <% if @post.cover_image.attached? %>
        <div class="card-image">    
          <%= image_tag @post.cover_image %>
        </div>
        <% end %>
        <div class="card-content">
          <div class="media">
            <div class="media-left">
              <figure class="image is-48x48">
                <%= image_tag @post.user.avatar.variant(resize: "50X50!") if @post.user.avatar.attached? %>
              </figure>
            </div>
            <div class="media-content">
              <p class="title is-4"><%= @post.title %></p>
              <div class="subtitle is-6">
              <span>@<%= @post.user.username %></span>
              <%= link_to "#", id: "subscribe", class: "subscribe has-text-link", data: { user: @post.user.id }, "@click": "addSubscribe" do %>
                <% if user_signed_in? && current_user.subscribe?(@post.user) %>
                  <i class="fas fa-bell subscribe"></i>
                <% else %>
                  <i class="far fa-bell subscribe"></i>
                <% end %>
              <% end %>
              </div>
            </div>
          </div>
          <div class="content">
            <p class="txet-center"><%= @post.content.html_safe %></p>
          </div>
          <footer data-controller="post">
          <%= link_to "#", id: "like", class: "like has-text-danger", data: { slug: @post.slug }, "@click": "addLike" do %>
            <% if user_signed_in? && current_user.like?(@post) %>
              <i v-bind:class="iconrelike"></i>
            <% else %>
              <i v-bind:class="iconlike"></i>
            <% end %>
            <span class="relikes has-text-dark">
              <%= @relikes %>
            </span>
          <% end %>
          </footer>
          
          <footer class="card-footer">
            <p class="card-footer-item">留言</p>   
          </footer>
          <footer>
            <%= render 'shared/frontend/comment_area', post: @post, comment: @comment %>
          </footer>
        </div>
      </div>
      <div class="comment-list comlike">
        <%= render partial: 'shared/frontend/comment', collection: @comments %>
      </div>
    </div>
  </div>
</section>