<div class="container">
  <div class="column">
    <h1>我的貼文</h1>
  </div>


  <div class="column">
    <% @posts.each do |post| %>
      <%= link_to edit_post_path(post), class: 'has-text-grey-darker' do %>
        <h3 class="title">
          <%= post.title %>
          <%= content_tag :span, post.group, class: 'tag is-dark'%>
          <% if post.published? %>
            <%= content_tag :span, '公開', class: 'tag is-primary'%>
          <% else %>
            <%= content_tag :span, '私人', class: 'tag is-link'%>
          <% end %>
        </h3>
        <p><%= strip_tags(post.content).truncate(200) %></p>
      <% end %>
        <p>
          最後編輯時間：<%= time_ago_in_words(post.updated_at) %>
        </p>
        </hr>
    <% end %>
  </div>
</div>